<?xml version="1.0" encoding="UTF-8"?>

<phpunit
    bootstrap="vendor/autoload.php"
    colors="true"
>
    <testsuites>
        <testsuite name="Faker Test Suite">
            <directory>./test/Faker/</directory>
        </testsuite>
    </testsuites>
    <filter>
  <whitelist processUncoveredFilesFromWhitelist="true">
    <directory suffix=".php">src</directory>
    <file>/path/to/file</file>
  </whitelist>
</filter>
    <logging>
  <log type="json" target="./tmp/report/logfile.json"/>
  <log type="junit" target="./tmp/log-junit.xml"/>
  <log type="coverage-clover" target="./tmp/coverage.xml"/>
</logging>
</phpunit>
